/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tomster {
  background: url("../assets/images/teaching-tomster.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}
