<nav class="flex h-20	px-12 py-2 bg-slate-800 justify-between">
  <LinkTo @route="home" class="flex items-center text-white">
    <div class="right tomster"></div>
    Host App
  </LinkTo>
  <div class="flex text-white items-center gap-8">
    <LinkTo @route="ember-route">
      Ember Route
    </LinkTo>
    <LinkTo @route="react-route">
      React Route
    </LinkTo>
  </div>
</nav>